@use "../../general/frontend/components/sizes";


.article-view {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;

  &.loading {
    min-height: calc(100vh - sizes.$top-bar-size - sizes.$bottom-bar-size);
  }

  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  .MuiPaper-root {
    width: calc(min(100% - 20px, 1000px));
    max-width: 1000px;
  }

  .article-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
  }
}