

.article-list {
  overflow-y: auto;


  .article-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    min-height: 30px;
    span {
      text-decoration: none;
    }
    width: 100%;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #eee;

    &:first-child {
      border-top: 1px solid #eee;
    }

    &.active {
      color: #a001b7;
      background: #fef;
    }

    &.unnamed {
      .article-title {
        color: #7c7c7c;
      }
    }

    &:not(.active) {
      color: #000000;
    }

    .title-icon-group {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .article-title {
        position: relative;
        top: 1px;
        margin-left: 10px;
        word-break: break-word;
      }
    }

    span {
      font-size: 0.75em;
    }

    &:hover {
      background-color: #fdf;
    }
  }

  .create-article-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .create-new-article-button {
    font-size: 12px;
  }
}


/**
    These are used by DeleteChartDialog and RenameChartDialog.
    They must be global or else they won't match the elements
    within the modal dialog.
**/
.action-buttons {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  button {
    flex-grow: 1;
    margin: 5px;
  }
}